<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @video.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<p>
  <strong>Project:</strong>
  <%= @video.project %>
</p>

<p>
  <strong>Video:</strong>
  <%= @video.video %>
</p>

<p>
  <strong>Meters:</strong>
  <%= @video.meters %>
</p>

<%= link_to 'Edit', edit_project_video_path(@video) %> |
<%= link_to 'Back', project_video_path(@video) %>
