<!DOCTYPE html>
<html lang="en">
	<head>  		
		  <%= render :partial => 'meta' %>
		  <title>Ivan Muller Software developer</title>
		  <%= stylesheet_link_tag    "application", media: "all" %>
		  <%= javascript_include_tag "application"%>
		  <%= csrf_meta_tags %>
		  <%= favicon_link_tag 'favicon.ico' %>
	</head>
	<body>
<!-- Amobee Content Ads;-->
<script type='text/javascript'>
var dc_AdLinkColor = 'blue' ; 
var dc_PublisherID = 245088 ; 
  
 
</script>
<script type='text/javascript' src='///kona.kontera.com/javascript/lib/KonaLibInline.js'>
</script>
<!-- end Amobee Content Ads --> 

	<script type="text/javascript">
var infolinks_pid = 2535278;
var infolinks_wsid = 0;
</script>
<script type="text/javascript" src="http://resources.infolinks.com/js/infolinks_main.js"></script>
		<% if notice %>
		    <p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
		    <p class="alert alert-danger"><%= alert %></p>
		<% end %>
		<%= yield %>
</body>
</html>
